.object-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  .object-level-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 0 0 auto;
  }
}

.object-logo {
  // import the svg
  background-image: url(inline-image('./assets/svg-logo.svg'));
  @extend %background-contain;
}
