.site-post {
  margin-bottom: 6rem;

  .site-post-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    // // align-items: center;
    justify-content: flex-end;

    &.has-background {
      height: 100vh;
      background: #000;
      color: rgba(255, 255, 255, 0.95);
      text-shadow: 0.05rem 0.05rem 0.1rem $color-black-screened-25;
      // text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
      // text-shadow: 0.05rem 0.05rem 0.1rem rgba(255, 255, 255, 0.25);

      .site-post-hero-background {
        display: block;
        position: absolute;
        // z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @extend %background-cover;
        background-position: center top;
        background-attachment: fixed;
        opacity: 0.5;

        // gradient shadow over image
        &:before {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
          top: 50%;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          position: absolute;
        }
      }

      .site-post-title { border-bottom-color: #fff; }
    }
  }

  .site-post-hero-background { display: none; }

  .site-post-hero-content {
    margin-top: 8rem;
    z-index: 1;
  }

  // POST CONTENT
  .site-post-content {
    font-size: 1.2rem;
    line-height: 1.8rem;

    img {
      display: block;
      margin: 2em auto 3em auto;
      width: 100%;
      height: auto;
      border: 1px solid #ddd;
      // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
      box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem $color-black-screened-25;
      // border-radius: 0.1rem;
    }
  }
}
