$topnav-height: 7rem;

.site-topnav-shim {
  height: $topnav-height;
  width: 100%;
  background: #666;
  z-index: -1;
  position: relative;
}

.site-topnav {
  height: $topnav-height;
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
  box-shadow: 0 0 0.25rem 0.1rem $color-black-screened-50;

  display: flex;
  flex-direction: column;

  .site-topnav-primary {
    flex: 1 0 auto;
    align-items: stretch;
    font-size: 1.75rem;
  }
  .site-topnav-secondary {
    overflow: auto;
    flex: 0 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    font-size: 1.5rem;
    padding: 0 0.5rem;
    .site-topnav-link { padding: 0.5rem; }
    .site-topnav-link:hover, .site-topnav-link:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .site-topnav-logo {
    min-height: 100%;
    width: 9rem;
    padding: 0.5rem 1rem;
    .object-logo { width: 100%; height: 100%; }
  }

  .site-topnav-link {
    font-family: $font-league-gothic;
    text-transform: uppercase;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .site-topnav-link:hover, .site-topnav-link:active {
    color: #000;
  }
}
