<div class="site-topnav object-level">
  <a class="site-topnav-logo object-level-item" href="/">
    <div class="object-logo"></div>
  </a>
  <div class="object-level">
    <div class="site-topnav-link object-level-item">Casual</div>
    <div class="site-topnav-link object-level-item">Business</div>
    <div class="site-topnav-link object-level-item">Formal</div>
  </div>
  <div class="object-level">
    <div class="site-topnav-link object-level-item">Pricing</div>
    <a class="site-topnav-link object-level-item" href="/blog">Blog</a>
  </div>
</div>
<div class="site-topnav-shim"></div>
