{% extends '@template.njk' %}

{% block contents %}

  <div class="site-post">
    <div class="site-post-hero {{ featuredImage | ternary('has-background', '') }}">
      <div class="site-post-hero-background" style="background-image: url('{{ featuredImage }}')"></div>
      <div class="site-post-hero-content">
        <div class="site-layout-container">
          <h1 class="site-post-title">{{ title }}</h1>
          <div class="site-post-date">{{ dateObject | formatDate }}</div>
        </div>
      </div>
    </div>
    <div class="site-post-content site-layout-container">
      {{ contents }}
    </div>
  </div>

  <div class="site-layout-container">
    {% set prevPost = collections.posts.getSiblingOf(key, -1) %}
    {% if prevPost %}
      <a class="site-post-preview" href="{{ prevPost.path }}">
        <h1 class="site-post-preview-title">{{ prevPost.title }}</h1>
      </a>
    {% endif %}

{#
    {% set nextPost = collections.posts.getSiblingOf(key, 1) %}
    {% if nextPost %}
      <a class="site-post-adjacents-preview" href="{{ nextPost.path }}">
        {{ nextPost.title }}
      </a>
    {% endif %}
#}
  </div>

{% endblock %}
